*{
   box-sizing: border-box;
}

body{
   padding: 0px;
   margin: 0px;
   color: white;
   background-color: #232323;
   font-family: "Monserrat","Avenir";
   text-transform: uppercase;
}

h1 {
   padding: 20px 0;
   line-height: 1.3;
   font-weight: normal;
   margin: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 div{
   font-size: 1.5em;
}

#stripe{
   margin: 0px;
   padding: 0px;
   background: white;
   height: 30px;
   color: #5c84b1;
   font-weight: 700;
   letter-spacing: 1px;
   display: flex;
}

#stripe > div:nth-of-type(3){
   height: 100%;
   width: 40%;
   display: flex;
   justify-content: flex-start;
}

#stripe > div:nth-of-type(1) {
   height: 100%;
   width: 40%;
   display: flex;
   justify-content: flex-end;
}

#message{
   height: 100%;
   width: 20%;
   text-transform: none;
   font-weight: normal;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

button{
   background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
   outline: inherit;
   
   height: 100%;
   padding-left: 20px;
   padding-right: 20px;
}

#easy{
   margin-right: 5px;
}

button:hover{
   background: #5c84b1;
   color: white;
   transition: all 0.3s ease-in-out;
}

.selected{
   background: #5c84b1;
   color: white;
   transition: 0.3s;
}

#container{
   max-width: 650px;
   margin: 20px auto;
}

.square{
   float: left;
   width: 30%;
   padding-bottom: 30%;
   margin: 1.6666666%;
   background-color: purple;
   border-radius: 20%;
   
   transition: all 0.3s;
}

.hover{
   cursor: pointer; 
}

.hover:hover{
   transform: scale(1.05);
}

.hidden{
   visibility: hidden;
}